
<div class="main">
    <div class="row1"><h1>Business Casual</h1></div>
    <div class="row2"><h6>3481 Melrose place|Beverly Hills,CA 90210|123.456.7890</h6></div>
    
    <div class="row3">
       
       
        <div class="col2">About Us</div>
        
       
    </div>
    
    
    
    <div class="row5">
        <div class="col6">
            <div class="row51"><h3>Build A Website Worth Visiting</h3><hr></div>
            <div >
                <img class="img2" src="../../assets/4.PNG">
            
                <p>n Italy, caffè latte is almost always prepared at home, for breakfast only. The coffee is brewed with a stovetop moka pot and poured into a cup containing heated milk. (Unlike the "international" latte drink, the milk in the Italian original is generally not foamed, and sugar is added by the drinker, if at all).

                    Outside Italy, a caffè latte is typically prepared in a 240 mL (8 US fl oz) glass or cup with one standard shot of espresso (either single, 30 mL or 1 US fl oz, or double, 60 mL or 2 US fl oz) and filled with steamed milk, with a layer of foamed milk approximately 12 mm (1⁄2 in) thick on the top. In the US, a latte is often heavily sweetened, with 3 % or even more sugar.[11] When ordering this drink in Italy, one should ask for a latte macchiato.</p>
            </div>
        
        </div>
    </div>
    
    
    
    <div class="row7">
    <h4>Copyrights © Your website 2021</h4>
    
    </div>
    
</div>