

<div class="main">
    <div class="row1"><h1>Business Casual</h1></div>
    <div class="row2"><h6>3481 Melrose place|Beverly Hills,CA 90210|123.456.7890</h6></div>
    
    <div class="row3">
       
       
        <div class="col2">Contact Us</div>
        
       
    </div>
    
    
    
    <div class="row5">
        <div class="col6">
            <div id="content">
                <form name="MyForm" action="login_process.html"  method="post">
                    <fieldset>
            <table align="center"  >
            
                <tr >
                    <td align="center" ><b>CONTACT US</b></td>
                    <br><br>
                </tr>
                    <tr>  
                        <td align="left"> First Name:<input type="text" name="user" id="user"></td> 
                    </tr>
                     <tr>  
                        <td align="left">  Last Name:<input type="text" name="user" id="user"></td> 
                    </tr>
                    <tr>  
                        <td align="left">  Email ID:<input type="text" name="Email" id="user"></td> 
                    </tr>
                     
                    <tr>  
                        <td align="left">  Query: <textarea></textarea></td> 
                    </tr>
                         
                      <tr>
                          <td colspan="2" align="center"> <input type="Submit" name="sign in">
                         <input type="reset" name="reset">  </td>      
                     </tr>

                     
                
            </table>
                    </fieldset>
             </form>
            </div>
            
            <div class="c8">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d172139.4161662446!2d-122.48214752341369!3d47.61294318323425!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5490102c93e83355%3A0x102565466944d59a!2sSeattle%2C%20WA%2C%20USA!5e0!3m2!1sen!2sin!4v1628315521741!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                      
            </div>
                 
        
        </div>
    </div>
    
    
    
    <div class="row7">
    <h4>Copyrights © Your website 2021</h4>
    
    </div>
    
</div>